.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.creator-card {
    width: 200px;
    height: 250px;
    background-color: var(--orange-color);
    color: var(--purple-color);
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
    font-size: 20px;
    display: inline-block;
    box-shadow: #31263E 0px 5px 15px;
}

.creator-card:hover {
    background-color: var(--ligth-orange-color);
}

.return_btn {
    background-image: url('../images/general/frame_cauldron_content.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 10%;
    position: absolute;
    left: 40px;
    top: 30px;
    font-weight: bold;
    font-size: 1.5em;
}

.btn {
    border: none;
    color: var(--white-color);
} 
.btn:hover {
    color: var(--orange-color);
    background: none;
    border: none;
}
