.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.creator-card {
    width: 200px;
    height: 250px;
    background-color: var(--orange-color);
    color: var(--black-color);
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
    font-size: 20px;
    display: inline-block;
    box-shadow: #31263E 0px 5px 15px;
}

.creator-card:hover {
    width: 220px;
    height: 270px;
}