/* Game board */
#game-board-navbar {
    height: 15vh;
    background: url('../images/general/game-board-header.png') no-repeat center center;
    background-size: contain;
}

#game-board {
    touch-action: none;
    background-image: url('../images/background_720.webp');
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cauldron {
    display: contents;
}

.card {
    background: transparent;
    display: flex;
    justify-content: center;
    border: none;
}
.card-title {
    color: #eca72c;
}

.card-img-top {
    width: 300px;
}

.cauldron-card {
    width: 150px;
}

.recipes-btn,
.rules-btn {
    width: 120px;
}

.ingredient-img,
.potion-img {
    width: 100%;
    height: auto;
    display: block;
}

.grabbable, .potion-img:hover {
    cursor: grab;
}

.grabbing {
    cursor: grabbing;
}

.potion-img {
    width: 40px;
}

.player-hover::before {
    content: "+";
    position: absolute;
    right: -1px;
    width: 20px;
    height: 20px;
    background-color: green;
    color: white;
    text-align: center;
    line-height: 15px;
    border-radius: 50%;
    font-size: 16px;
    border: 1px solid black;
  }