/* Game board */

@font-face {
    font-family: funny_witches;
    src: url('/assets/fonts/witches_magic.ttf') format('truetype');
}

* {
    font-family: 'funny_witches', sans-serif;
}

body {
    overflow-x: hidden;
    touch-action: none;
    background: url('../images/background_720.webp') no-repeat center center;
    background-size: cover;
}

#game-board {
    --bs-gutter-x: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card {
    background: transparent;
    display: flex;
    justify-content: center;
    border: none;
}

.card-title {
    color: #eca72c;
}

.card-img-bottom {
    width: 100%;
}

.villain, .player {
    width: 50%;
    height: auto;
    display: block;
}

.card-body {
    display: flex;
    justify-content: center;
}

/* Stats */
.card-header {
    max-width: 15rem;
}

.player-stats-section,
.villain-stats-section {
    background: url('../images/general/frame_stats.png') no-repeat center center;
    background-size: cover;
}

.progress {
    --bs-progress-bg: transparent;
    --bs-progress-height: 0.8rem;
    --bs-progress-font-size: 0.55rem;
    border: 0.5px solid rgba(137, 133, 133, 0.311);
}

.progress-bar {
    border-radius: 10px;
}

.potion {
    margin: 10px 3vw;
}

/* Potions */
#inventory-potions-container {
    --bs-gutter-x: 0;
    min-height: 5rem;
    background: url('../images/general/frame_inventory.png') no-repeat center 0;
    background-size: cover;
    position: absolute;
    bottom: 0;
}

.potion-img {
    width: 100%;
    height: auto;
    display: block;
}

.grabbable,
.potion-img:hover {
    cursor: grab;
}

.grabbing {
    cursor: grabbing;
}

.potion-img {
    width: 2.5rem;
}

.character-hover::before {
    content: "+";
    position: absolute;
    right: -1px;
    width: 20px;
    height: 20px;
    background-color: green;
    color: white;
    text-align: center;
    line-height: 15px;
    border-radius: 50%;
    font-size: 16px;
    border: 1px solid black;
}

/* Navigation menu */

.btn {
    background: none;
    border: none;
}
.btn:hover {
    color: #eca72c;
    background: none;
    border: none;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    background: none;
    border: none;
}
.dropdown {
    display: flex;
    justify-content: center;
}

.dropdown-menu.show{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/general/frame_stats.png);
    background-size: 172px;
    background-repeat: no-repeat;
    border: none;
    width: 171px;
    height: 82px;
    --bs-dropdown-bg: none;
}

.menu_icon {
    display: flex;
    flex-direction: column;
    color: var(--purple-color);
    text-decoration: none;
    margin-bottom: 10px;
}

.menu_icon:hover {
    color: var(--ligth-orange-color);
}

.toast {
    background: rgb(49,38,62);
    background: linear-gradient(0deg, rgba(116, 13, 121, 0.863) 0%, rgba(198, 147, 35, 0.877) 100%);
    color: #ffffff;
}

.player:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.3s;
}

.player img {
    /* object shadow */
    filter: drop-shadow(0px 0px 10px rgba(215, 149, 8, 0.687));
}