* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.greyscaled-image {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

#main-container {
    background-image: url('../images/general/witches_kitchen_background.png');
    background-size: cover;
    height: 100vh;
    position: relative;
}

#main-container > .container{
    height: 100vh;
    width: 100vw;
}

.container > .row {
    height: 100%;
}

.recipe-book-container {
    display: flex;
    justify-content: flex-end;
}

.cauldron-container {
    display: flex;
    align-self: flex-end;
    height: 70vh;
    width: 1000px;
    margin-bottom: 5vh;
}

.ingredients-list-container {
    height: 90%;
}

.ingredients-list {
    display: flex;
    flex-direction: column;
}

.cauldron {
    background-image: url('../images/general/cauldron.gif');
    background-repeat: no-repeat;
    background-size: contain;
}

.ingredients-list {
    background-image: url('../images/general/frame_kitchen_ingredients.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 50px;
}

.ingredients-list > .row {
    width: 75%;
    margin: auto;
}

.ingredient {
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
    position: relative;
}

.content-list-container {
    background-image: url('../images/general/frame_cauldron_content.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 80px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 50px;
    margin-top: 10vh;
}

.content-item {
    background-size: contain;
    background-repeat: no-repeat;
    height: 4.5vw;
    width: 4.5vw;
    margin-top: 5px;
    position: relative;
}

.ingredient-name {
    position: absolute;
    left: 5.5vw;
    margin-top: 1.2vw;
    width: 100%;
    font-size: 1.5vw;
    font-weight: bold;
    color: black;
    white-space: nowrap;
}

.recipe-book-container {
    height: 350%;
    width: 100%;
    position: relative;
}

.recipe-book {
    background-image: url('../images/general/recipe_book.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    height: 100%;
    left: 85%;
    top: 100%;
    transition: transform 0.2s ease-in-out;
}

.recipe-book:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#title {
    background-image: url('../images/general/kitchen_label.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 25%;
    position: absolute;
}

.cauldron-hover::before {
    content: "+";
    position: absolute;
    right: -1px;
    width: 20px;
    height: 20px;
    background-color: green;
    color: white;
    text-align: center;
    line-height: 15px;
    border-radius: 50%;
    font-size: 16px;
    border: 1px solid black;
  }

  .dropdown-alert {
    opacity: 0;
    background-image: url('../images/general/frame_page_flip.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 13%;
    width: 20%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .dropdown-alert-text {
    /* make text sit in center of container, slightly to the left with responsive font size based on parent container */
    position: absolute;
    top: 48%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 1.1vw;
    font-weight: bold;
    color: black;
    white-space: nowrap;
  }

  .dropdown-alert-img {
    background-repeat: no-repeat;
    background-size: contain;
    height: 150%;
    width: 100%;
    position: absolute;
    top: -30%;
    left: 120%;
    margin: auto;
  }

.open-recipe-book-container {
    display: none;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 99;
}
.open-recipe-book {
    background-image: url('../images/general/open_recipe_book.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100%;
    width: 70%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
}

.left-page, .right-page {
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
}

.left-page, .right-page {
    height: 40%;
    width: 30%;
}

.left-page {}
.left-page-header {
    display: flex;
    align-items: center;
}
.left-page-header-title {
    margin-left: 40px;
    font-size: 1.1em;
    font-weight: bold;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200%;
    

}
.left-page-header-img {
    background-image: url('../images/potions/djinns_desire_elixir.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 5vw;
    width: 100%;
}
.left-page-content {
    position: relative;
}
.circle {
    /* draw solid circle with border */
    position: absolute;
    /* center vertically */
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
    border: 3px solid black;
}

.left-page-stat {
    margin-left: 40px;
    margin-top: 25px;
    font-size: 1.2vw;
    font-weight: bold;
}

.left-page-stat > p {
    /* center text vertically */
    display: flex;
    align-items: center;
    height: 40px;
    margin-left: 50px;
    font-size: 1.2vw;
    font-weight: bold;
}

.right-page-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.right-page-header-title {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200%;
}
.right-page-content {
    display: flex;
    flex-direction: column;
}

.recipe-ingredient-img {
    display: inline-block;
    background-image: url('../images/ingredients/ancient_celestial_sand.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 3.5vw;
    width: 3.5vw;
}

.right-page-ingredient {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}

.recipe-ingredient-text {
    font-size: 1.2vw;
    font-weight: bold;
    color: black;
    white-space: nowrap;
    margin-right: 20px;
}

.page-btns-container {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    margin: 0;
}
.previous {
    background-image: url('../images/general/frame_page_flip.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 10vh;
    width: 10vw;
    margin-left: 5%;
    margin-top: 5%;
    display: flex;
    padding-top: 15px;
    justify-content: center;
    font-size: large;
    font-weight: bold;
}
.next {
    background-image: url('../images/general/frame_page_flip.png');
    transform: scaleX(-1);
    background-repeat: no-repeat;
    background-size: contain;
    height: 10vh;
    width: 10vw;
    margin-right: 5%;
    margin-top: 5%;
    display: flex;
    padding-top: 15px;
    justify-content: center;
    font-size: large;
    font-weight: bold;
}