.rules-button-box {
    width: 60%;
}

.rules-button-custom{
    margin: 3px;
}

.rules-background {
    width: 90%;
    background: url('../images/general/frame_kitchen_ingredients.png') no-repeat center center;
    background-size: cover;
}

.rules-card {
    width: 80%;
    color: var(--black-color);
    border-radius: 20px;
    font-size: 15px;
}