/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    font-family: 'UnifrakturMaguntia', sans-serif;
    letter-spacing: 1px;
}

:root {
    --text: #eca72c;
    --background: #44355b;
    --primary: #ee5622;
    --secondary: #31263e;
    --accent: #221e22;

    --orange-color: #eca72c;
    --dark-orange-color: #31263e;
    --black-color: #44355b;
    --white-color: #fff;
}

body {
    overflow-x: hidden;
}

/* used for potions and ingredients that has current 0 value */
.greyscaled-image {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.orange-color {
    background-color: var(--orange-color);
}

.black-color-text {
    color: var(--black-color);
}

.btn-custom-orange {
    background-color: var(--orange-color);
    color: var(--black-color);
}

.btn-custom-orange:hover {
    background-color: var(--dark-orange-color);
}

.white-color-text {
    color: var(--white-color);
}


/* Home page */
.main-heading {
    font-size: 65px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.background {
    background: url('../images/background_720.webp') no-repeat center center;
    background-size: cover;
    min-height: 100vh;
}

.button-box {
    width: 250px;
    height: 400px;
    border: 3px solid var(--orange-color);
    border-radius: 20px;
}

.button-custom {
    width: 70%;
}

.footer-links {
    font-size: 15px;
    text-decoration: none;
    color: inherit;
}

